<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project_3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FA14_3342_tud03191ConnectionString" connectionString="Data Source=cis-mssql1.temple.edu;Initial Catalog=FA14_3342_tud03191;User ID=tud03191;Password=ohT1eewo"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <applicationSettings>
        <Project_3.Properties.Settings>
            <setting name="Project_3_RealityServiceSVC_RealityService" serializeAs="String">
                <value>http://localhost:23894/RealityService.asmx</value>
            </setting>
          
            <setting name="Project_3_localhost_RealityService" serializeAs="String">
                <value>http://cis-iis2.temple.edu/Fall2014/CIS3342_tud03191/Project3WS/RealityService.asmx</value>
            </setting>
        </Project_3.Properties.Settings>
    </applicationSettings>
</configuration>