<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="FA14_3342_tud03191ConnectionString" connectionString="Data Source=cis-mssql1.temple.edu;Initial Catalog=FA14_3342_tud03191;User ID=tud03191;Password=ohT1eewo"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
